In [1]:
import pandas as pd
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

## Import Data

In [2]:
DF_PATH = '../data/interim/'
df_food = pd.read_csv(DF_PATH + '0_food_labelled_resampled.csv')
df_electronic = pd.read_csv(DF_PATH + '0_electronic_labelled_resampled.csv')
df_fashion = pd.read_csv(DF_PATH + '0_fashion_labelled_resampled.csv')

In [3]:
df_food.head()

                                             reviews  label
0  Harga:sedang\nKualitas:sedang\nRasa:blm tau\n\...      1
1  Bagusss bangettttt ,pengemasan aman bangett re...      1
2  Kualitas:bsgus\nHarga:standar\n\nPaketny dah D...      1
3  Bumbunya mantappppppppppppppppppppppppppppppp ...      1
4  Harga:ok\nRasa:coklat\nKualitas:ok\n\nTerima k...      1

In [4]:
df_electronic.head()

                                             reviews  label
0  Harga murah speaker lumayan kenceng bsa karoke...      1
1  Terima kasih barang sudah sampai, pengiriman s...      1
2  Mantap barang nya pengiriman cepat,seller rama...      1
3          Mantap paketnya sdh sampai sesuai pesanan      1
4  Terimakasih kak seller dan shoppe,  barangnya ...      1

In [5]:
df_fashion.head()

                                             reviews  label
0  Alhamdulillah jilbab sya sdh sampai, kualitas ...      1
1  Bahan nya suka bgt adem dan lembut sangat memu...      1
2                        Hoodie yang tebal dan bagus      1
3  Respon penjual ramah baik. Pengiriman lumayan ...      1
4  bagussss bangettt, bahann tebal, pengiriman ce...      1

## Clean Reviews

In [6]:
sastrawi = StopWordRemoverFactory()
stopword = sastrawi.get_stop_words()
factory = StemmerFactory()
stemmer = factory.create_stemmer()

### Lower, Remove Newline, Stemming, & Remove Stopword

In [7]:
def clean_text_1(text):
    text = text.lower() # lower all sentence
    text = text.strip() # remove newline
    text = stemmer.stem(text) # Stemming kata berimbuhan menjadi kata dasar
    text = ' '.join(word for word in text.split() if word not in stopword)
    return text

In [9]:
print('Cleaning Food Reviews...')
df_food['clean_review_v1'] = df_food['reviews'].apply(clean_text_1)  
print('Cleaning Electronic Reviews...')
df_electronic['clean_review_v1'] = df_electronic['reviews'].apply(clean_text_1) 
print('Cleaning Fashion Reviews...') 
df_fashion['clean_review_v1'] = df_fashion['reviews'].apply(clean_text_1)
print('Cleaning Data Done.')

Cleaning Food Reviews...
Cleaning Electronic Reviews...
Cleaning Fashion Reviews...
Cleaning Data Done.

In [11]:
df_food.to_csv('../data/interim/1_food_cleaned_v1.csv', index = False)
df_electronic.to_csv('../data/interim/1_electronic_cleaned_v1.csv', index = False)
df_fashion.to_csv('../data/interim/1_fashion_cleaned_v1.csv', index = False)